body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  height: 10vh;
}

nav > a {
  font-size: 20px;
  padding: 10px 20px;
  margin: 15px;
  flex-grow: 1;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blank-space {
  flex-grow: 10;
}
