* {
  box-sizing: inherit;
}

body {
  font-family: Oxygen, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: url('../assets/bg.jpg') fixed;
  background-size: cover;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

a, a:visited {
  color: #00bfff;
  text-decoration: none;
  text-shadow: 1px 1px 4px #000000;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px 4px #000000;
}

.container {
  padding: 10px 0 2px 0;
  color: #ffffff;
  text-shadow: 1px 1px 4px #000000;
}

.headshot {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.projects-link {
  margin-bottom: 10px;
}

.social-icons > a {
  margin: 0 5px;
}

.social-icons > a > img {
  padding: 10px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 25%;
     -moz-border-radius: 25%;
          border-radius: 25%;
}

.projects {
  font-size: 0;
  overflow-y: scroll;
  height: 80vh;
  -webkit-overflow-scrolling: touch;
}

.project {
  font-size: 24px;
  display: flex;
  width: 100vw;
  padding: 0 10vw;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-size: 2em;
}

.home {
  margin-top: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  margin-bottom: 5px;
}

.footer > p {
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 768px) {

  .title {
    font-size: 1em;
  }

  .projects-link {
    margin: 10px 0;
  }

  .social-icons {
    margin-bottom: 2px;
  }

  .project {
    flex-direction: column;
    width: 100vw;
    padding: 0 10vw;
  }

  .project > img {
    width: 50vw;
    height: 50vw;
  }

  .project > p {
    font-size: 0.55em;
  }

}

@media (min-width: 768px) {

  .title {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .project > img {
    width: 30vw;
    height: 30vw;
  }

  .project > p {
    width: 100%;
    font-size: 0.65em;
    margin-left: 10px;
  }

}

@media (min-width: 970px) {

  .title {
    font-size: 2em;
  }

  .project > img {
    width: 350px;
    height: 350px;
  }

  .project > p {
    width: 100%;
    font-size: 0.90em;
  }

}
