body {
  font-family: Oxygen, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: url('../assets/bg.jpg') no-repeat;
  background-size: cover;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  padding: 10px 0 2px 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .25);
  text-shadow: 1px 1px 4px #000000;
}

.buttons {
  align-self: center;
}

.buttons > a {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  width: 150px;
  margin: 0 10px;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.social-icons > a {
  margin: 0 2px;
}

#headshot {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

#footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  margin-bottom: 10px;
}

#footer > p {
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 768px) {

  p {
    margin: 10px 0;
  }

  .main {
    font-size: 1em;
  }

  .buttons {
    margin-bottom: 10px;
  }

  .buttons > a {
    width: 100px;
  }

  .social-icons {
    margin-bottom: 2px;
  }

  .social-icons > a {
    margin: 0 10px;
  }

  #footer {
    margin-bottom: 5px;
  }

}

@media (min-width: 768px) {

  p {
    margin: 10px 0;
  }

  .main {
    font-size: 1.5em;
  }

  .buttons {
    margin-bottom: 10px;
  }

  #footer {
    margin-bottom: 5px;
  }

}

@media (min-width: 970px) {

  .main {
    font-size: 2em;
  }

}
