body {
  margin: 0;
  padding: 0;

  &::before {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    content: '';
    transform: scale(1);
    pointer-events: none;
    background-image: linear-gradient(to top, rgba(0,0,0,.62), rgba(0,0,0,.62)), url(./assets/background.jpg);
    background-size: auto, cover;
  }
}
